.screen-1 {
    background: hsl(213deg, 85%, 97%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg, 62%, 94%);
    gap: 2em;
    margin: auto;
  }
  
  .screen-1 .logo {
    margin-top: -3em;
  }
  
  .email, .password {
    background: hsl(0deg, 0%, 100%);
    box-shadow: 0 0 2em hsl(231deg, 62%, 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 15px;
    color: hsl(0deg, 0%, 30%);
    margin-top: -1em;
  }
  
  .email input, .password input {
    outline: none;
    border: none;
    color: hsl(0deg, 0%, 0%);
    font-size: 0.9em;
  }
  
  .sec-2 ion-icon {
    color: hsl(0deg, 0%, 30%);
    margin-bottom: -0.2em;
  }
  
  .password .show-hide {
    margin-right: -5em;
  }
  
  .login {
    padding: 1em;
    background: rgb(121,117,180);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }
  
  .footer {
    display: flex;
    font-size: 0.7em;
    color: hsl(0deg, 0%, 37%);
    gap: 14em;
    padding-bottom: 10em;
  }
  
  .footer span {
    cursor: pointer;
  }
  
  /* General button style */
  button {
    cursor: pointer;
  }
  