.banner {
    position: fixed;
    top: 0;
    right:0;
    padding: 5px;
    width: 30px; /* Adjust as needed */
    height: auto; /* Ensures aspect ratio is maintained */
  }
  
  .banner img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Optional styles to add some spacing */
  .banner {
    margin-top: 20px;
    margin-right: 20px;
  }
  