.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav-list {
    display: grid;
    padding: 100px;
    grid-template-columns: repeat(1, auto);
    max-width: auto;
}
.card-title {
  color: rgb(121,117,180) !important; 
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
} 

.card-body{
  justify-content: center;
}

.card {
  margin: 12px;
  transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
  justify-content: center;
  background-color: hsl(231deg, 62%, 94%);
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgb(121,117,180) !important; /* Shorter Shadow effect */
}
