/* Basic button styling */
.btn {
  color: rgb(121,117,180) !important; 
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* Primary button style */
.button-primary {
  color: rgb(121,117,180) !important; 
  font-weight: bold;
  font-size: 20px;
  text-align: center; 
}

.button-primary:hover {
  box-shadow: 0 10px 20px 0 rgb(121,117,180) !important; /* Shorter Shadow effect */
}


/* Maintaining other styles for consistency */
.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12.col-md-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.list-group-item {
  white-space: normal; /* Ensure the text wraps */
}

@media (max-width: 768px) {
  .list-group-item {
    padding: .5rem 1.25rem; /* Smaller padding */
  }
}

  