/* Basic button styling */
.btn {
  color: #fff; /* White text color */
  background-color: rgb(121, 117, 180); /* Soft purple background */
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: none; /* No border */
  padding: 15px 30px; /* Vertical and horizontal padding */
  margin-bottom: 5px; /* Space between buttons */
  box-shadow: 0 4px 8px rgba(121, 117, 180, 0.3); /* Subtle shadow */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Button hover style */
.btn:hover {
  background-color: rgba(121, 117, 180, 0.8); /* Darker purple background on hover */
  color: #fff; /* Ensure text color is white on hover */
}

/* List group styling */
.list-group {
  display: grid;
  grid-gap: 15px; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  padding: 20px;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-height: 80vh; 
  overflow-y: auto; 
  width: auto; 
}

.modal-image {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .btn {
    font-size: 18px; /* Slightly smaller font size on small screens */
    padding: 12px 25px; /* Slightly smaller padding on small screens */
  }
}

.link {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}


.logo, .title {
  margin: 0;
  padding: 5px;
}


